Repository guillaumedsde/magneticod-distroless: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, dockerhub-readme, pages

build:
  image: registry.gitlab.com/ix.ai/docker-buildx-qemu:latest
  stage: build
  services:
  - docker:dind
  retry: 2
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ''
    BUILDKIT_INLINE_CACHE: '1'
    DOCKER_DRIVER: overlay2
  ...

dockerhub-readme:
  stage: deploy
  variables:
    README_PATH: ./README.md
  image:
    name: sheogorath/readme-to-dockerhub:latest
    entrypoint:
    - ''
  script:
  - node /app/index.js

pages:
  stage: deploy
  image: node:10
  cache:
    paths:
    - node_modules/
  before_script:
  - npm install gitbook-cli -g
  - gitbook fetch 3.2.3
  - gitbook install
  script:
  - gitbook build . public
  artifacts:
    paths:
    - public
    expire_in: 1 week

docs: update README
  Dockerfile
  README.md
Due: build, dockerhub-readme, pages

docs: updated README.md
  README.md
Due: dockerhub-readme, pages

ci: disable s390x
  .gitlab-ci.yml
  README.md
Due: build, dockerhub-readme, pages

ci: disable retry
  .gitlab-ci.yml
Due: build, dockerhub-readme, pages

feat: build for multiple archs
  .gitlab-ci.yml
  Dockerfile
  build/build.sh
Due: build, dockerhub-readme, pages

fix: -x RUN SHELL
  Dockerfile
Due: build

ci: build on licorne
  .gitlab-ci.yml
Due: build, dockerhub-readme, pages

ci: build without docker cache
  build/build.sh
Due: build

feat: multi architecture builds
  .dockerignore
  Dockerfile
  build/build_binary.sh
Due: build

fix: copy build script
  Dockerfile
Due: build

perf: use alpine based hadolint image
  .gitlab-ci.yml
Due: build, dockerhub-readme, pages

fix: workdir to chmodded dir
  Dockerfile
Due: build

Path conditions:
  build: any of: Dockerfile, rootfs/**/*, .gitlab-ci.yml, build/**/*
  dockerhub-readme: any of: README.md, .gitlab-ci.yml
  pages: any of: README.md, .gitlab-ci.yml
